.coinPage{
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  color: azure;
  p{
    font-size: 16px;
  }
  &__header{
    display: flex;
    flex: 1 1 auto;
    justify-content: space-around;
    margin-left: 20px;
    text-align: start;
    @media (max-width: 768px) {
      flex-direction: column;
    }
    &-coin{

      height: 100%;
    }
    &-coin-info{

      display: flex;
      @media (max-width: 768px) {
        flex-direction: column;
      }
    }
    &-coin-info-item{
      margin: 10px;
      display: flex;
      flex-direction: column;
      //justify-content: flex-end;
      @media (max-width: 768px) {
       margin: 0 10px;
      }
    }
    &-infoCommunity{
      width: 33%;
      height: 100%;
      @media (max-width: 768px) {
        width: auto;
        margin-left: 10px;
      }
    }
  }
  &__body{

    &-chart-date{
      padding-left: 5%;
      display: inline;
      span{
        font-size: 17px;
      }
       button{
        margin-left: 10px;
         color: #011633;
      }
    }
    &-converter-items{
      display: flex;
      max-width: 120%;
      justify-content: center;
      min-width: 200px;
      @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 140px;
      }

      &-exchange{
        margin-left: 10px;
        position: relative;
        top:7px;
      }
      &-select{
        margin-left: 10px;
        font-size: 20px;
      }
      a-select, a-input{
        display: block;
        max-width: 30%;

      }
      span{
        display: block;
        margin-left: 10px;
        //padding-top: 10px;
        font-size: 20px;
      }
    }
  }
  #nameCoin{
    padding-left: 10px;
    color: azure;
    font-size: 24px;
  }
  #priceCoin{
    padding-left: 10px;
    color: azure;
    font-size: 30px;
  }
  #change24h{
    font-size: 20px;
    padding-left: 8px;
  }
}
.ant-input{
  width: auto !important;
}
.coinPage__body-chart-date-item{
  display: inline;
  @media (max-width: 768px) {
    display: flex;
    width: 200px;
    justify-content: space-between;
    margin: 5px auto;
  }
}