.coins{

  padding-top: 15px;

  padding-bottom:5px ;
  :hover{
    background: cadetblue;
  }

}
.coin{
  margin-left: 15px;
  display: flex;
  justify-content: space-around;
  padding-top: 15px;
  padding-right: 20px;
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 5px;
  border-bottom: 0.1px solid #71a1ef;
  @media (max-width: 768px) {
    margin-top: 20px;
    flex-direction: column;
  }
  &__image{
      margin-left:5px ;
      height: 25px;
  }
  &__name, &__price ,&__change_24h ,&__total-volume ,&__change_market-cap{
    width: 200px;
    text-align: start;
    @media (max-width: 768px) {
      width: auto;
    }
  }
}
