@import "mixins/mixins";
@import "./layouts/header";
@import "./pages/homePage";
@import "./pages/coin";
@import "./pages/coinPage";

#app{
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #c4d6ee!important;
  background: #011633;
  min-height: 100vh;

}


